@import url('https://fonts.googleapis.com/css2?family=Montserrat&&family=Roboto&family=Poppins&family=Oswald&display=swap');

:root {
  --base-light: #ffffff;
  --base-dark: #1e1d1d;
  --primary-accent: #007377;
  --primary-light: #66bac0;
  --secondary-accent: #d66805;
  --secondary-light: #f79b2e;
}

body {
  background-color: var(--base-light);
  color: var(--base-dark);
  font-family: 'Montserrat';
}

p {
  font-family: 'Roboto';
}
